
.button:hover, .button:focused {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.launch-button {
    -fx-pref-height: 20px;
    -fx-pref-width: 135px;
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 9pt;

    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}